.reset-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.reset-content {
  display: flex;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.reset-form-section {
  padding: 44px;
  flex: 1;
}

.reset-logo {
  margin-bottom: 22px;
  width: 275px;
  height: auto;
}

h1 {
  margin-bottom: 11px;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
}

.reset-form {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-form .input-wrapper {
  margin-bottom: 11px;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 6px;
  position: relative;
  width: 50%;
  border: 1px solid #064281;
  justify-content: center;
}

.input-wrapper img {
  margin-right: 6px;
  width: 22px;
  height: 22px;
}

input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  font-size: 1.1em;
}

.reset-button {
  background-color: #064281;
  color: white;
  border: none;
  padding: 11px 22px;
  border-radius: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
}
